@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local('Material Icons'), local('MaterialIcons-Regular'), url(../../../../../../external.html?link=https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');}
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;letter-spacing:normal;text-transform:none;line-height:1;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}